<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>holdyaon</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <style>
        body {
            font-family: "kaiti";
        }

        h1 {
            font-family: cursive;
            font-size: 25px;
            color: #99FF00;
            text-align: center;
            text-shadow: 3px 3px 2px gray;
        }

        div {
            text-align: center;
            margin: 20px auto;
        }

        div.habbit {
            padding: 5px 5px;
            border-radius: 5px;
        }

        div.habbit button {
            margin: 0 10px;
        }
        p span{
            color:red;
        }
        .foot{
            position:fixed;
            bottom:10px;
            background-color: yellow;
            border-radius: 3px;
            padding:3px;
            box-shadow: 3px 3px 2px grey;
        }
    </style>
</head>

<body>
    <div id="app" class="container">
        <header class="title">
            <h1>{{title}}</h1>
        </header>
        <main class="body">
            <div class="add">
                <label for="habbit">习惯</label>
                <input type="text" class="form-control" style="width:60%;display: inline;" placeholder="输入要坚持的习惯"
                    v-model.trim="habbit" @keydown.enter="handleAddHabbit">
                <button class="btn btn-primary" @click="handleAddHabbit"><span
                        class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="habbits">
                <div class="habbit bg-info" v-for="(h,index) in habbits" :key="h.name">
                    <h3>
                        {{index+1}}.{{h.name}}
                    </h3>
                    已经连续坚持<span class="text-danger">{{h.holddays}}</span>天<br>
                    最近一次是<span class="text-danger">{{h.lastcheckday}}</span><br>
                    <button @click="handleDeleteHabbit(h,index)" class="btn btn-danger btn-xs">删除</button>
                    <button @click="handleCheck(h)" class="btn btn-xs" :class="{'btn-success':!h.ischecked}"><span
                            v-if="h.ischecked">取消打卡</span><span v-else>昨日打卡</span></button>
                </div>
            </div>
            <button class="btn btn-danger" @click="handleClear">清空记录</button>
            <div class="logs">
                <div class="log" v-for="(log,index) in logs">
                    <p>
                        <span>{{log.name}}</span>于<span>{{log.lastcheckday}}</span>之后中断，连续坚持了<span>{{log.holddays}}</span>天！
                    </p>
                </div>
            </div>
        </main>
        <footer class="foot">
            author:nutbrain mail:332928791@qq.com
        </footer>
    </div>
    <script>
        let duration = 24 * 60 * 60 * 1000;
        let vm = new Vue({
            el: "#app",
            data: {
                title: "Hold Yourself On!",
                habbits: [],
                habbit: "",
                logs: [],
                today: "",
            },
            created: function () {
                this.getDate();
                if (this.today != new Date().toLocaleDateString()) {
                    this.today = new Date().toLocaleDateString();
                    this.habbits.forEach(habbit => {
                        habbit.ischecked = false;
                        if (habbit.lastcheckday && (habbit.lastcheckday != new Date(Date.now() - 2 *
                                    duration)
                                .toLocaleDateString())) {
                            this.logs.unshift({
                                name: habbit.name,
                                lastcheckday: habbit.lastcheckday,
                                holddays: habbit.holddays
                            });
                            habbit.holddays = 0;
                        }
                    });
                }
            },
            watch: {
                habbits: {
                    handler: function (val, oldval) {
                        localStorage.setItem('habbits', JSON.stringify(val));
                    },
                    deep: true,
                },
                logs: function (val, oldval) {
                    localStorage.setItem('logs', JSON.stringify(val));
                },
                today: function (val, oldval) {
                    localStorage.setItem('today', this.today);
                },
            },
            methods: {
                handleAddHabbit() {
                    this.habbit && !this.habbits.map(h => h.name).includes(this.habbit) && this.habbits.push({
                        name: this.habbit,
                        holddays: 0,
                        lastcheckday: "",
                        lastcheckdayback: "",
                        ischecked: false
                    });
                    this.habbit = "";
                },
                handleCheck(h) {
                    if (h.ischecked) {
                        h.holddays--;
                        h.lastcheckday = h.lastcheckdayback;
                        h.ischecked = false;
                    } else {
                        h.holddays++;
                        h.lastcheckdayback = h.lastcheckday;
                        h.lastcheckday = new Date(Date.now() - duration).toLocaleDateString();
                        h.ischecked = true;
                    }
                },
                handleDeleteHabbit(h, index) {
                    let sure = confirm("确定要删除习惯《" + h.name + "》吗？");
                    if (sure) {
                        this.habbits.splice(index, 1);
                    }
                },
                handleClear() {
                    let sure = confirm("确定要清空所有习惯和记录吗？");
                    if (sure) {
                        localStorage.clear();
                        this.getDate();
                    }
                },
                getDate() {
                    this.habbits = JSON.parse(localStorage.getItem('habbits') || '[]');
                    this.logs = JSON.parse(localStorage.getItem('logs') || '[]');
                    this.today = localStorage.getItem('today');
                }
            }
        })
    </script>
</body>

</html>